body {
  background-image: url('/nd-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'IM Fell English SC', serif !important;
}


/* Dynamic brightness via settings context */
body[data-brightness] {
  filter: brightness(var(--brightness));
}